*{
    margin: 0;
}

body{
    font-family: 'TT Hoves ProTrial', sans-serif;
    color: #222;
}
section{
    padding: 0 calc(9.1vw - 13.9px ) 160px;

}

.logo{

    margin-top: 37px;
    width: 295px;
} 

.courseInfo{
    margin-top: 87px;
    margin-bottom: 76px;
    display: flex;
    gap: 30px 160px;
    flex-wrap: wrap;
    font-size: 21px;
    line-height: 140%;
}
.courseData .value{
    font-weight: 700;
}
.html_css_js h1{
    font-family: "Chava";
    font-size: 80px;
    line-height: 110%;
}
.html_css_js p{
    width: calc(66.6vw + 77.6px);
    margin-top: 40px;
    font-size: 27px;
    font-weight: 300;
    line-height: 140%;
}
.cta{
    margin-top: 20px;

    display: flex;
    gap: 20px 30px;

    flex-wrap: wrap;
}
.primary{
    border-radius: 12px;
    background: #6E3ABA;
    width: 328px;

    color: var(--typo-white, #FFF);
    text-align: center;
    font-size: 18px;
    font-weight: 500;

    padding: 20px 0;
}
.secondary{
    border-radius: 12px;
    border: 1px solid #6E3ABA;
    background: #fff;
    width: 328px;

    color: #6E3ABA;
    text-align: center;
    font-size: 18px;
    font-weight: 500;

    padding: 20px 0;
}

.html_css_js{
    background-image: url(../img/html_css_js\ 1.png);
    background-repeat: no-repeat;
    background-position: top 20px right 50px;
    background-size: 30vw;
} 

/* info_container  start*/
.info_container h1{
    font-family:'TT Hoves500';
    font-size: calc(2.65vw + 24px);
    font-weight: 500;
    letter-spacing: 0.58px;
    text-transform: uppercase;
}
.info_cards{
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
}
.info_card{
    width: calc(24.3vw + 138.8px);
    height: 500px;
}
.info_card h2{
    margin-top: 10px;
    font-family:'TT Hoves500';
    width: 369px;
    font-size: calc(0.99vw + 14.2px);
    font-weight: 600;
    line-height: 140%;
    text-transform: uppercase;
}
.info_card p{
    margin-top: 20px;
    max-width: 450px;
    min-width: 328px;
    font-family: 'TT Hoves400';
    font-size: calc(0.99vw + 14.2px);
    font-weight: 400;
    line-height: 140%;
}
.info_cards img{
    width: calc(5.5vw + 179.2px);
}
/* info_container end */
.sale-cont {
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: #6E3ABA;
    padding-top: 60px;
    margin: 0;
    padding-bottom: 50px;
    
}
.sale-cont h1 {
    color: var(--typo-white, #FFF);
    font-family: TTHoves-Regular;
    font-size: calc(2vw + 26.5px);
    font-weight: 700;
    letter-spacing: 1.56px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: calc(4vw + 4.6px);
}
.time {
     display: flex;
     flex-direction: column;
     align-items: center;
 
}
.time h2 {
    font-family: "Chava";
    font-size: calc(12.6vw + 12.76px);
}
.time p {
    color: #2F1D4E;
    font-family: "Chava";
    text-align: center;
    font-size: 27px;
    font-weight: 500;
    text-transform: uppercase;
}
.clock {
    display: flex;
    gap: calc(6vw + 7.2px);
    flex-direction: row;
    justify-content: center;
}
.clockbtn {
    display: flex;
    width: 328px;
    padding: 20px 0px;
    justify-content: center;
    gap: 10px;
    background: #fff;
    color: #6E3ABA;
    border: solid 1px #6E3ABA;
    border-radius: 12px;
    margin-top: 40px;
}
.header_f {
    color: #222;
    font-size: 58px;
    font-weight: 500;
    letter-spacing: 0.58px;
    text-transform: uppercase;
    padding-top: 160px;
    margin-bottom: calc(5.5vw + 19.3px);
}
.legend {
    width: calc(7.8vw + 300px);
}
.legendmain h1 {
    display: flex;
    flex-direction: column;
    color: #222;
    font-size: 58px;
    font-weight: 500;
    letter-spacing: 0.58px;
    text-transform: uppercase;
}
.speaker {
    display: flex;
    gap: 0 51px;
    max-width: 1100px;
}
.speaker_info h2 {
    padding-top: 20px;
    color: #222;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 20px;
}
.spinfo {
    color: #222;
    font-size: 27px;
    font-weight: 400;
    line-height: 140%; 
    max-width: 566px;
    margin-bottom: 90px;
}
.emoji_cards {
    display: flex;
    gap: 0 90px;
    flex-direction: column;
}
.emoji_card {
    margin: 40px;
    max-width: 250px;
}
.emoji_card p {
    color: #222;
    font-size: 21px;
    font-weight: 400;
    line-height: 140%; 
}
.infocourse {
    display: flex;
}
.emoji_container {
    display: flex;
}
@media (max-width: 1100px) {
   .speaker{
    display: flex;
    flex-direction: column;
   }
}
.emoji_cards:nth-child(2){
    flex-direction: column-reverse;
}
.mainres h3{
    font-size: 58px;
    font-weight: 500;
    letter-spacing: 0.58px;
    text-transform: uppercase;
}
/* info_speaker_start */
.info_screen h1 {
    font-size: 58px;
    margin-bottom: 90px;
}

.info_block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px 120px;
}

.info_section {
    max-width: 400px;
}

.info_section .title {
    font-size:27px;
    font-weight: 600;
    line-height: 140%;
    text-transform: uppercase;
}

.info_section .value {
    margin-top: 20px;
    font-size: 27px;
    line-height: 140%; 
}
/* info_speaker_end */
/* graduation diploma_start */
.info_diplom img{
    width: 430px;
    height: 300px;
    flex-shrink: 0;
}
.diplom_info .title{
    margin-left: 20px;
    font-size: 58px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.58px;
    text-transform: uppercase;
}
.info_diplom{
    display: flex;
}
.info_diplom .value{
    margin-top: 20px;
    max-width:514px;
    margin-left: 20px;
    font-size: 27px;
    font-weight: 400;
    line-height: 140%; 
}

/* graduation diploma_end */

/* info_about_us_start */


/* info_about_us_end */

